
 .Banner-container{
  position: relative;
  z-index: -1;
 }
 .banner-info{
     margin-top: -60px; 
     z-index: 2; 
     line-height: 1;
     font-family: open-sans, sans-serif;
     letter-spacing: 1px;
     padding: 20px;
 }
 .banner-content{
    text-align: center;
    margin-bottom: 20px;
 }
 .we-are-content{
    font-family: sans-serif;
 }

.slider {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    box-sizing: border-box;
    background-blend-mode: overlay;
}

.slider-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


