/* .nav-item:hover{
border: 2px solid red;
color: red;
} */
blink {
    animation: 2s linear infinite condemned_blink_effect;
    color: #FF533D;
    font-weight: 600;
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}